<div class="login-page-wrapper d-flex justify-content-center align-items-center vh-100">
  <div class="login-content p-4 p-md-5 shadow-lg rounded-3">
    
    <h3 class="title text-center mb-4">¡Bienvenido a MatchPlay!</h3>
    
    <form (ngSubmit)="realizarLogin()" [formGroup]="loginForm">

      
      <div class="mb-3">
        <label for="identificador" class="form-label">Correo electrónico / Nombre de usuario</label>
        <input type="identificador" formControlName="identificador" id="identificador" class="form-control custom-input"  placeholder="ejemplo@correo.com" autocomplete="off" appRedInvalidInput>
        
        @if (loginForm.controls['identificador'].invalid && loginForm.controls['identificador'].touched) {
          <div class="text-danger fw-bold">
            @if (loginForm.get('identificador')?.getError('required')) {
              El correo o nombre de usuario es obligatorio.
            } 
          </div>
        }
      </div>

      <div class="mb-4">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" formControlName="password" class="form-control custom-input" placeholder="••••••••" appRedInvalidInput>

        @if (loginForm.controls['password'].invalid && loginForm.controls['password'].touched) {
          <div class="text-danger fw-bold">
            La contraseña es obligatoria.
          </div>
        }
      </div>

      <button type="submit" class="btn custom-btn-primary w-100"  [disabled]="!loginForm.valid || cargando()"> Iniciar sesión </button>

      <div class="mt-3 text-center">
        @if (cargando()) {
          <div class="loading-message">
            <span class="spinner-border spinner-border-sm" role="status"></span>
            Cargando, por favor espere...
          </div>
        } 
      
        @if (mensajeDeError()) {
          <div class="alert alert-danger custom-alert-danger fw-bold" role="alert">
            {{mensajeDeError()}}
          </div>
        }
      </div>

    </form>

    <p class="text-center mt-4 text-bottom">¿No tienes cuenta? 
      <a class="custom-link" routerLink="/registro">Regístrate</a>
    </p>

  </div>
</div>