/* Paleta de colores principal:#734443 secundario:#b8aba5 texto y bordes: principal: #211f1c secundario: #4e3a3a */

.body {
  background-color: #b8aba5;
}

.swal2-popup {
  border: 4px solid #734443 !important; 
  border-radius: 12px !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2) !important;
}

.swal2-confirm {
  font-weight: bold !important;
  color: #fff !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
  background-color: #5d3837 !important;
}

.swal2-confirm:hover {
  background-color: #522f2d !important; 
}

.swal2-cancel {
  background-color: #4e3a3a !important; 
  color: #fff !important; 
  border-radius: 8px !important;
  padding: 10px 20px !important;
}

.swal2-cancel:hover {
  background-color: #3b2c2b !important; 
}

.swal2-title {
  color: #211f1c !important; 
  font-family: 'Arial', sans-serif !important; 
  font-size: 1.8em !important;
}

.swal2-html-container {
  color: #4e3a3a !important; 
  font-size: 1.1em !important;
}